{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_jokeofday/view_page

    Vista del chiste

    Example context (json):
    {

    }

}}
<div data-region="mod_jokeofday_view_page" class=" d-flex flex-column justify-content-center align-items-center">
    {{#jokes}}
        <div class="card" style="width: 60rem; margin: 10px;">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{category}}</h6>
                <div class="d-flex flex-wrap">
                    Flags:
                    {{#flagsArray}}
                        <span class= "badge badge-pill badge-primary m-1"> {{.}}  </span>
                    {{/flagsArray}}
                </div>
                <div>
                    <p class="card-text">{{jokeText}}</p>
                </div>
            </div>
            <div class="card-footer">
                <a href="#" class="card-link">Card link</a>
                <select class="form-select">
                    <option selected>{{question}}</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
    {{/jokes}}
    {{^jokes}}
        <div class="card" style="width: 60rem;">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{category}}</h6>
                <div class="d-flex flex-wrap">
                    Flags:
                    {{#flagsArray}}
                        <span class= "badge badge-pill badge-primary m-1"> {{.}}  </span>
                    {{/flagsArray}}
                </div>
                <div>
                    <p class="card-text">{{jokeText}}</p>
                </div>
            </div>
            <div class="card-footer">
                <a href="#" class="card-link">Card link</a>
                <select class="form-select" id="rating-select-{{id}}">
                    <option selected>{{question}}</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
    {{/jokes}}
</div>
<div class="d-flex justify-content-center">
    <button class="btn btn-primary rate-btn" data-joke-id="{{id}} " type="button">{{rate}}</button>
</div>